<!-- Added this line because I'm not using index method...rather...caused app to crash so will delete it  -->
<%#= comments_tree_for @comments %>
<div class="media comments-section">
  <div class="commentor-photo">
  </div>
  <div class="media-body post_reply_comments">
    <div class="comment-header">
      <h3><%= comment.name %></h3>
      <h4><%= time_ago_in_words(comment.created_at) %></h4>
    </div>
    <div class="comment-body">
      <p><%=comment.message %></p>
    </div>
    <!-- <a href="#{<%#= link_to 'reply', new_comment_path(comment.id) %>}">Reply</a> -->
    <% from_reply_form ||= nil %>
    <% unless from_reply_form %>
      <p><%= link_to 'reply', new_comment_path(comment.id) %></p>
    <% end %>
  </div>
</div>
