<div class="media comments-section">
  <div class="commentor-photo">
  </div>
  <div class="media-body post_reply_comments">
    <div class="comment-header">
      <h3><%= comment.name %></h3>
      <h4><%= time_ago_in_words(comment.created_at) %></h4>
    </div>
    <div class="comment-body">
      <p><%=comment.message %></p>
    </div>
    <!-- Need nil guard because this same form is also called from comments index view
      where reply_form is not defined has no value... -->
    <% from_reply_form ||= nil %>
    <!-- Want a Reply link on the comment unless you are displaying the comment your are already replying to -->
    <% unless from_reply_form %>
      <p><%= link_to 'reply', new_comment_path(comment.id) %></p>
    <% end %>
  </div>
</div>
